
################################################################################
We reserve the right to view, monitor and record activity on the system without
notice or permission. Any information obtained by monitoring, reviewing or
recording is subject to review by law enforcement organizations in connection
with the investigation or prosecution of possible criminal activity on the
system. If you are not an authorized user of this system or do not consent to
continued monitoring, exit the system at this time.
################################################################################

----------------------------------------

Welcome to {{ ansible_hostname }} ({{ ansible_distribution }})

FQDN:      {{ ansible_fqdn }}
IP:        {{ ansible_default_ipv4.address }}

This is a PostgreSQL database server

----------------------------------------

